# /etc/systemd/system/airflow-scheduler.service
[Unit]
Description=Airflow scheduler daemon
After=network.target

[Service]
Environment=AIRFLOW_HOME=/home/datamover/airflow
User=datamover
Group=datamover
Restart=always
Type=simple
ExecStart=/home/datamover/VENV/airflow/bin/airflow scheduler

[Install]
WantedBy=multi-user.target

